#root {
  max-width: 1920px;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding: var(--padding);
}

/* container */
.content {
  height: 70%;
  max-height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* search-content */
.search-content > h1 {
  font-size: 2rem;
}

.search-bar > input {
  margin: 0 1rem;
}

/* add-content */
.add-product > input {
  display: block;
  margin: 1rem auto;
}

.add-product > button {
  display: block;
  margin: 1rem auto;
}